footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

footer img {
    width: 4rem;
    margin: 1rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer a {
    color: rgb(58, 58, 58);
   }



@media (max-width: 480px) {
   footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
   }

   footer .social {
    display: flex;
    flex-direction: row;
    align-items: center;
   }

   .social img {
    width: 3rem;
    height: auto;
    margin-top: 2rem;
   }

   footer a {
    font-size: small;
    color: rgb(58, 58, 58);
   }
}