footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
}

footer img {
    width: 4rem;
    margin: 1rem;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



@media (max-width: 480px) {
    footer {
        width: 100%;
        height: auto;
        padding-top: 2rem;
    }

    footer div {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .brands {
        gap: 1.5rem;
    }

    footer img {
        width: 5rem;
        height: 5rem;
    }

    footer a {
        padding-top: 1rem;
        font-size: 16px;
    }

    footer h2 {
        font-size: x-large;
        text-align: center;
    }
}