header img {
border-radius: 100%;
width: 19.7rem;
height: 19.7rem;
}

.logo {
    max-width: 19.7rem;
    max-height: 19.7rem;
    position: absolute;
    top: -8rem; 
    left: 3rem; 
    
}

.logo,
.title {
  position: absolute;
}

header {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
    max-width: 26.6rem;
    max-height: 13.3rem;
    position: absolute;
    left: 24rem;
    text-align: left;
}

.title h4 {
    width: 12.8;
    height: fit-content;
    line-height: 0.2; 
    
}

.title h1 {
 letter-spacing: 4px;
  line-height: 6rem; 
  padding-top: 0.2rem;
}

.title h3 {
 font-size: 1.2rem;
 width: 26.5rem;
 height: fit-content;
 line-height: 1.2rem;
}

@media (max-width: 480px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: flex;
    }

    .logo {
        position: relative;
        top: 0;
        left: 0;
    }

    header img {
        width: 12rem;
        height: 12rem;
    }

    .title {
        position: static;
        max-width: 90%;
        text-align: center;
        padding-top: 1rem;
    }

    .title h1 {
        line-height: 4rem;
        font-size: var(--text-lg); /* Reduz tamanho para melhor legibilidade */
    }

    .title h3 {
        font-size: 1rem;
        line-height: 1.3rem;
        width: 90%;
        margin: 0 auto;
    }

    .title h4 {
        line-height: 1.2rem;
    }
}

