.products {
    width: 100%;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

html {
  scroll-behavior:smooth;
}

.products div {
    padding-top: 1.5rem;
}

.links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    gap: 1rem;
}

.product-span {
    display: block;
}

.product-container {
    position: relative;
    width: 100%;
    height: 18.8rem;
    border-radius: 10%;
    overflow: hidden; 
}

.default-img, .hover-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 43px;
    transition: opacity 0.3s ease, filter 0.3s ease;
}

.hover-img {
    opacity: 0;
}

.caption {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: white;
    font-size: var(--text-md);
    font-family: var(--font-titles);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); 
}

.product-span:hover .hover-img {
    opacity: 1;
    filter: brightness(0.8); 
}

.product-span:hover .default-img {
    opacity: 0;
}

.product-span:hover .caption {
    opacity: 1;
}
.choose-pet {
    font-family: var(--font-titles);
    font-size: var(--text-sm);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.roll-page {
    width: auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -.5rem;
}

.icons {
    display: flex;
    gap: 1rem;
}

.roll-page button {
    margin-inline: 0.5rem;
    overflow: hidden;
    border-radius: 100%;
    border: solid 0.2rem white;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(255, 107, 0, 0.4);
    white-space: nowrap;
    margin-top: 2rem;
}

.roll-page button:hover {
     transform: translateY(-4px) scale(1.05);
    box-shadow: 0 12px 30px rgba(255, 107, 0, 0.5);
}

.roll-page img {
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
    display: flex;
    align-items: center;
}
   
@media (max-width: 480px) {
  
    .choose-pet {
        font-size: medium;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .products h2 {
        font-size: x-large;
    }

    .products h5 {
        font-size: large;
        text-align: center;
    }

    .products {
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    .roll-page img {
        width: 4rem;
        height: 4rem;
    }

    .icons button {
        padding: 0%;
        margin: 0%;
    }

    .product-container {
    height: 13.5rem;
    border-radius: 24px;
  }

  .caption {
    font-size: 1rem;
  }

  .links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0%;
    gap: 0.5rem;
  }

  .product-container {
    width: 140px;
    height: 110px;
  }

  .product-span img {
    border-radius: 0%;

  }
}


